@model IList<westcoast_cars.web.ViewModels.Vehicles.VehicleListViewModel>

<section class="page">
    <h1 class="page-title">Aktuella bilar för försäljning</h1>

    <div class="gallery-wrapper">
        @foreach (var vehicle in Model)
        {
            <div class="gallery-card">
                <div>@vehicle.Manufacturer</div>
                <img src="~/images/@vehicle.ImageUrl" alt="@vehicle.Model">
                <div><span>@vehicle.Model</span>&nbsp;<span>@vehicle.ModelYear</span></div>
                <a class="btn btn-dark" asp-action="details" asp-controller="vehicles" asp-route-id="@vehicle.Id">Se mer</a>
            </div>
        }
    </div>
</section>
